#root {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cv {
    width: 70vw;
}
.cv,.editCV, .viewCV {
    margin: 1rem;
}
.editCV div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.edit-view {
    display: flex;
}
.viewCV {
    width: 100%;
}

.infoName, .infoEmail, .infoPhone {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: whitesmoke;
}
.editInputName, .editInputEmail, .editInputPhone {
    display: none;
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: whitesmoke;
}

.previewEditBtn {
    display: flex;
    justify-content: center;
}

.educationForm, .experienceForm {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: whitesmoke;
    padding: 1rem;
    align-items: center;
}
#addExp, #addEdu {
    margin-top: 1rem;
}

.educationInformation, .experienceInformation {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.addedEducationInformation, .addedExperienceInformation {
    display: none;
    width: 100%;
    justify-content: space-between;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 0.5rem;
}

.viewGeneralInfo, .viewEducationInfo, .viewExperienceInfo {
    border-bottom: 2px solid gray;
}

.viewEducationInfo, .viewExperienceInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.eduBtn, .expBtn {
    display: flex;
    justify-content: center;
}
.edu, .exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edu h2, .exp h2 {
    margin: 10px;
}
.edu p, .exp p {
    margin: 8px;
}

.exp .expOverview {
    display: flex;
    gap: 1rem;
}
.exp .expTask {
    font-style: italic;
}